<div class="ic_card_connect_forms">
  <div class="ic_connect_form_card_header">
    <img
      ng-src="{{'./assets/insurers/'+selectedConnection.id+'.png'}}"
      width="59px"
      height="38px"
    />
    <span ng-if="!selectedConnection.isConnected">Connect account</span>
    <span ng-if="selectedConnection.isConnected">Edit account</span>
  </div>
  <div class="ic_connect_form_card_body">
    <div class="ic_card_connect_form_insurer_list">
      <div
        class="ic_connect_form_provider"
        ng-if="!selectedConnection.isConnected"
      >
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
      </div>
      <div class="ic_connect_status" ng-if="selectedConnection.isConnected">
        <div class="ic_card_name_label">
          <div class="ic_card_avatar">
            JP
          </div>
          <div class="ic_card_labels">
            <span class="ic_card_ins"> Adviser</span>
            <span class="ic_card_name"> James Punnett</span>
          </div>
        </div>
        <div class="connection_date_status">
          Last sync: 2 days ago.
        </div>
      </div>
      <div class="ic_connect_form_btn_sync" ng-if="!isProcessing">
        <button
          ng-if="selectedConnection.isConnected"
          ng-click="onProceed('disconnect')"
          class="btn_connect disconnect"
        >
          Disconnect
        </button>
        <button
          ng-if="!selectedConnection.isConnected"
          ng-click="onProceed('connect')"
          class="btn_connect"
        >
          Connect
        </button>
        <button ng-click="onProceed('cancel')" class="btn_cancel">
          Cancel
        </button>
      </div>
      <div class="sync_section" ng-if="isProcessing">
        <div class="switch_container is_block">
          <span class="loading-status" ng-if="selectedConnection.isConnected"
            >Disconnecting....</span
          >
          <span class="loading-status" ng-if="!selectedConnection.isConnected"
            >Connecting....</span
          >
          <div class="circleloader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
