<!--START LIST NAVIGATION -->
<div id="ic_list_container">
  <div class="ic_list_selections">
    <a class="active">All <span>(2)</span></a>
    <a>In Progress <span>(15)</span></a>
    <a>Cancelled <span>(8)</span></a>
  </div>

  <div id="ic_list_items">
    <div
      class="ic_card"
      ng-repeat="client in insuranceInProgress track by $index"
    >
      <div class="topright" role="button" ng-click="resyncClientData(client)">
        <img
          src="./assets/sync.png"
          title="Re-sync data"
          alt="Re-sync data"
          width="19px"
          height="18px"
          ng-class="{'is-resync': client.reSyncData}"
        />
      </div>
      <div class="ic_card_header">
        <div class="ic_card_name_label">
          <div class="ic_card_avatar">
            {{client.initialName}}
          </div>
          <div class="ic_card_labels">
            <span class="ic_card_ins"> Insured Person</span>
            <span class="ic_card_name"> {{client.fullName}} </span>
          </div>
        </div>
        <div
          class="insurance_details_list"
          ng-repeat="benefit in client.myBenefits | orderBy: reverse:true track by $index"
        >
          <div class="ic_card_benefit_details">
            <span class="ic_card_fnd">
              Insurance Checker found {{dataDriller(benefit.benefitDetails,
              client.personId)}} benefits from 1 Insurer
            </span>

            <div class="ic_card_provider_details">
              <div class="ic_card_inner_info">
                <div class="ic_card_insurer_logo">
                  <img
                    src="./assets/insurers/{{benefit.providerID}}.png"
                    width="65px"
                    height="35px"
                  />
                </div>
                <div class="ic_card_insurance_data">
                  <span class="ic_card_policy">
                    {{benefit.policyNumberLimited}}
                  </span>
                  <span class="ic_card_premium">
                    {{benefit.totalPolicyFee | currency : '$' : 2}} Monthly
                  </span>
                </div>
              </div>

              <button
                ng-if="!benefit.isSyncing"
                ng-click="openViewComparison(benefit);"
                class="ic_card_btn_sync"
              >
                View
              </button>

              <div class="switch_container" ng-if="benefit.isSyncing">
                <span class="loading-status">Syncing....</span>
                <div class="circleloader"></div>
              </div>
            </div>
          </div>
          <div class="ic_card_body">
            <div class="cover_body" ng-repeat="cover in benefit.benefitDetails">
              <div
                class="ic_card_cover_list"
                ng-if="cover.familyClientID === client.personId"
              >
                <div class="ic_card_cover_label">
                  <img
                    ng-src="{{'./assets/benefit_icons/'+cover.benefitIcon+'.svg'}}"
                    width="18px"
                    height="18px"
                  />
                  <span>{{ cover.benefitName}}</span>
                </div>
                <div class="ic_card_cover_amount">
                  {{ cover.coverAmount | currency : '$' : 2}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="ifAnyHasData" class="ic_card_no_insurances_client">
      <img src="./assets/entityIcon.svg" />
      <span>seems there is no insurance for this client</span>
    </div>
  </div>
</div>
<!--END LIST NAVIGATION -->
