<!-- @format -->

<!--START LIST NAVIGATION -->
<div id="ic_list_container">
   <div class="ic_list_selections">
      <a
         ng-repeat="tab in tabsList track by $index"
         ng-class="{'active': tab.isActive}"
         ng-click="switchTabs(tab)"
         >{{tab.tabName}} <span>({{tab.total}})</span></a
      >
   </div>

   <div id="ic_list_items">
      <div
         ng-include="'pages/listing.html'"
         ng-if="!!insuranceListScraping.length"
      ></div>

      <div
         ng-if="ifAnyHasData && !hasError"
         class="ic_card_no_insurances_client"
      >
         <img src="./assets/entityIcon.svg" />
         <span>seems there is no insurance for this client</span>
      </div>

      <div
         ng-if="hasError"
         class="ic_card_no_insurances_client"
         ng-class="{'is_rerunning': triggerRerun}"
      >
         <div
            class="topright error_retry_again"
            role="button"
            ng-if="!onProgress"
            ng-click="reRunScraping()"
         >
            <div class="message_retry" ng-if="!triggerRerun">
               Would you like to retry again?
            </div>
            <div class="message_retry" ng-if="triggerRerun">
               Please wait rerunning services.
            </div>

            <img
               src="./assets/sync.png"
               title="Re-try again"
               alt="Re-try again"
               width="19px"
               height="18px"
               ng-class="{'is-resync': triggerRerun}"
            />
         </div>
         <div class="warning_header" ng-if="!triggerRerun">
            <img src="./assets/sadEmoji.svg" width="100px" height="80px" />
            <span>oops! we're sorry having trouble accessing providers</span>
         </div>
         <div
            class="warning_code_block"
            ng-repeat="error in errorObj track by $index"
            ng-if="!triggerRerun"
         >
            <p>
               <span>insurer name:{{error.insurerName}}</span>
               <br />
               <span>message:{{error.messages}}</span>
               <br />
               <span>data:{{error.data}}</span>
            </p>
         </div>
      </div>
   </div>
</div>
<!--END LIST NAVIGATION -->
