.ic_card_connect_forms {
  border-radius: 6px;
  position: relative;
  box-shadow: -1px 1px 1px rgb(156 156 156 / 16%),
    -1px 3px 3px rgb(79 78 78 / 23%);
  margin-top: 10px;
  margin-bottom: 30px;
}

.ic_connect_form_card_body {
  padding: 10px;
}

.ic_connect_form_card_header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f6f6f6;
}
.ic_connect_form_card_header span {
  margin-left: 10px;
  font-size: 18px;
  color: #8d76a0;
  font-weight: 600;
}

.ic_connect_form_btn_sync,
.ic_connect_form_provider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sync_section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ic_connect_form_btn_sync button {
  width: 100%;
  margin-top: 5px;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.btn_connect {
  background: #44b3b4;
  color: white;
}

.disconnect {
  background: #e96465;
}

.disconnect:hover {
  background: #f79393;
}

.btn_cancel {
  background: #faf8fd;
  color: #838383;
}

button:hover {
  background: #6bd6d8;
}

.ic_connect_form_btn_sync button:first-child {
  margin-bottom: 5px;
}

.ic_connect_form_btn_sync {
  margin-top: 10px;
}

.ic_connect_form_provider {
  margin-top: 0.5rem;
}

.ic_connect_form_provider input {
  width: 100%;
  border-radius: 6px;
  padding: 15px 9px;
  border: 1px solid #bdbdbd;
  margin-top: 10px;
}
input:focus {
  outline: none !important;
  border-color: #6bd6d8;
  box-shadow: 0 0 10px #6bd6d8;
}

.ic_connect_status {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.connection_date_status {
  align-self: center;
  margin-top: 15px;
  font-size: 11px;
  font-weight: 500;
  color: #a0a0a0;
}

.ic_connect_message {
  display: flex;
  align-items: center;
  background: #f4f1f8;
  border-radius: 5px;
  padding: 9px;
  border-left: 1px solid #d0cdd4;
}
.ic_connect_message span {
  margin-left: 6px;
  font-size: 14px;
  color: #8d76a0;
  font-weight: 500;
}

.icon_connection {
  margin-left: auto;
}
