#ic_settings_wrapper {
  padding: 10px 5px 2px;
  padding: 0 10px;
}

.ic_card_settings {
  border-radius: 6px;
  position: relative;
  box-shadow: -1px 1px 1px rgb(156 156 156 / 16%),
    -1px 3px 3px rgb(79 78 78 / 23%);
  margin-top: 10px;
  margin-bottom: 30px;
}

.ic_setting_card_body {
  overflow-y: auto;
  max-height: 300px;
  height: 100%;
  padding: 0 15px 20px 5px;
}

.ic_setting_card_header {
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.ic_setting_card_body,
.ic_setting_card_subheader {
  padding: 10px 15px;
}
.ic_setting_card_labe {
  margin-top: 1rem;
}
.ic_setting_card_auto {
  margin-top: 8px;
  padding-bottom: 1rem;
}

.ic_setting_card_header span {
  text-transform: uppercase;
  color: #8d76a0;
  font-size: 15px;
  font-weight: 600;
}

.ic_setting_card_header button {
  border: 0;
  background: #44b3b4;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  height: fit-content;
  cursor: pointer;
  padding: 8px 15px;
  margin: 0;
}

.ic_setting_card_auto {
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
}

.ic_setting_card_auto label {
  margin-left: 10px;
  font-size: 12px;
  color: #8d76a0;
  font-weight: 400;
}

.ic_setting_card_label {
  font-size: 12px;
  color: #8d76a0;
  font-weight: 600;
  margin-top: 1rem;
}

.ic_setting_provider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.ic_card_insurer_logo {
  display: flex;
  align-items: center;
  width: 80%;
}

.ic_card_insurer_logo span {
  margin-left: 5px;
  font-size: 14px;
  color: #8d76a0;
  font-weight: 400;
}
.ic_setting_btn_sync {
  width: 20%;
}
.ic_setting_btn_sync .connect_btn {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #44b3b4;
  color: #fff;
  width: 100%;
}

.edit_btn {
  border-radius: 5px;
  background: #fff;
  color: #44b3b4;
  border: 1px solid #44b3b4;
  width: 100%;
}
button {
  cursor: pointer;
  padding: 7px 9px;
}

button:hover {
  background: #6bd6d8;
}

.connect_btn {
  padding: 7px 9px;
}
