.switch_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
}

.switch_container.is_block {
  align-items: center !important;
}

.client_switch_container {
  display: none;
}

.circleloader {
  position: relative;
  box-sizing: border-box;
  top: 0;
  border-radius: 16px;
  width: 80px;
  height: 20px;
  padding: 4px;
  background: #cfc6d8;
}
.circleloader:before {
  content: '';
  position: absolute;
  border-radius: 16px;
  width: 20px;
  height: 12px;
  left: 0;
  background: #9a86a8;
  -webkit-animation: push 1s infinite linear;
  animation: push 1s infinite linear;
}

.loading-status {
  font-size: 11px;
  text-align: center;
  width: 62%;
}

@-webkit-keyframes push {
  50% {
    left: 56px;
  }
}
@keyframes push {
  50% {
    left: 56px;
  }
}

.loading-status {
  font-size: 11px;
}

.is-resync {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

/* rotate 360 key for refresh btn */
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
